.navbar {
    background-color: pink;
    color: black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
}

.img {
    height: 30%;
    width: 30%;
}

.home {
    background-color: white;
    padding-top: 7rem;
    padding-bottom: 5rem ;
}

.Profile {
    background-color: pink;
    color:black;
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.about {
    background-color: white;
    padding-top: 7rem;
    padding-bottom: 5rem;
}

.offcanvas-body small {
    background-color: pink;
}

.Location {
    background-color: pink;
    padding-top: 5rem;
    padding-bottom: 5rem;
    position: relative;
}

.Contact {
    padding-top: 7rem;
    padding-bottom: 5rem;
}

footer {
    background-color: pink;
    padding-top: 2rem;
    padding-bottom: 2rem;
    color: black;
}

.back-to-top {
    position: fixed;
    right: 20px;
    bottom: -40px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 38px;
    height: 38px;
    background-color: #072227;
    opacity: 0;
    border-radius: 50%;
    transition: .2s ease-in-out;
    z-index: 20px;
  }
  
  /* Untuk memunculkan tombol */
  .back-to-top.show {
    bottom: 20px;
    opacity: 1;
  }
  
  .back-to-top svg {
    width: 20px;
    height: 20px;
    fill: none;
    stroke: #ffffff;
    stroke-width: 1px;
    stroke-linejoin: round;
    stroke-linecap: round;
  }

  